# Default values for one21-frontend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

namespace: dev-one21

containerPort: 3000

image:
  repository: seminariojalapa/one21-frontend
  tag: 'latest'
  pullPolicy: Always

ingress:
  enabled: true
  host: dev.one21.app
  tlsSecretName: frontend-tls-secret

issuer:
  name: letsencrypt-prod
  email: jmarroquins13@miumg.edu.gt

imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''

podAnnotations: {}

podSecurityContext: {}

service:
  annotations: {}
  type: ClusterIP
  port: 3003

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: '1'
  #   memory: '1Gi'
  requests:
    cpu: '30m'
    memory: '100Mi'

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

livenessProbe:
  tcpSocket:
    port: 3000
readinessProbe:
  tcpSocket:
    port: 3000
  periodSeconds: 5
  timeoutSeconds: 5
  failureThreshold: 1
  successThreshold: 1
  initialDelaySeconds: 3
startupProbe:
  tcpSocket:
    port: 3000
  periodSeconds: 1
  timeoutSeconds: 3
  failureThreshold: 1
  successThreshold: 1
  initialDelaySeconds: 5

nodeSelector: {}

tolerations: []

topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        app.kubernetes.io/name: one21-frontend

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          topologyKey: kubernetes.io/hostname
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: one21-frontend

securityContext:
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL
    add:
      - SETPCAP
      - MKNOD
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - SETGID
      - SETUID
      - NET_BIND_SERVICE
      - SYS_CHROOT
      - SETFCAP
      - SYS_PTRACE

envVars:

generatorLabel: draft
