name: PR Validation

on:
  pull_request:
    branches:
      - develop
      - main
  merge_group:
    types: [checks_requested]

jobs:
  test-build:
    uses: ./.github/workflows/test-build.yml
    with:
      environment: pr-${{ github.event.number || 'merge-queue' }}
